*{
  font-family: "Courier New", Courier, monospace;
}
body{
  background-color: yellow;
  margin: auto;
  width: 60%;
  border: 3px solid #000000;
}

h1 {
  border: 5px solid #000000;
  text-align: center;
}

#number{
  font-size: 300%;
  padding-left:30px;
}

.container {
  margin: 50px 100px 50px 100px;
}
