*{
  font-family: "Courier New", Courier, monospace;
}
body{
  background:
  radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
  linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
  linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
  background-size:40px 60px;
  padding;
  margin: auto;
  width: 60%;
}

h1 {
  font-size: 3.5em;
  border: 5px solid #000000;
  text-align: center;
}

#number{
  font-size: 300%;
  padding-left:30px;
}

.container {
  width: 500px;
  margin: 20px auto 0 auto;
  background-color: rgba(255,255,255,0.5);

  border: 7px solid #000000;
  padding: 20px;
  border-radius: 10px;

}

button{
  font-size: 2.5em;

}

#buttons{
  display:block;
}

#userAnswer{
  display:block;
  width:100%;
  height:70px;
  font-size: 6em;
  text-align: center;
  /*overflow:scroll;*/
}

#leftNum{
 font-size: 6em;
 text-align: center;
}

#plusSign{
 font-size: 6em;
 text-align: left;
}

#rightNum{
 font-size: 6em;
 text-align: center;

}

#submitButton{
  font-size: 2em;
  margin: 10px 10px 10px 10px;
  text-align:center;
}

#clearButton{
  font-size: 2em;
  margin: 10px 10px 10px 10px;
  text-align:center;

}
#numRow{
  text-align: center;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 5px solid #000000;
   border-bottom: 5px solid ##000000;
}

#result {
  font-size: 2em;
  margin: 10px 10px 10px 10px;
  text-align: center;
  display:block;
  width:100%;
  height:50px;
  text-align: center;
  /*overflow:scroll;*/


}
#actions{
  text-align: center;

}
/*Bee Animation by jonitrythall http://codepen.io/jonitrythall/pen/AEhxd*/

.contain{
  margin-right: 100px
}
.bee {
  position: absolute;
  margin:10px -150px;
  top: 150px;
  left: 270px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-animation: move 5s;
  animation: move 5s;
}

.bee-body {
  width: 150px;
  height: 200px;
  border-radius: 50%;
  background-color: #f5cc69;
  position: relative;
}

.antena {
  width: 20px;
  height: 50px;
  border-radius: 50%;
  border-right: 2px solid #232323;
  position: absolute;
  top: -30px;
  left: 45px;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  z-index: -1;
}

.top {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #232323;
  position: absolute;
  top: -5px;
  left: 7px;
}

.top-right {
  top: 10px;
  left: 55px;
}

.antena-right {
  -webkit-transform: rotate(200deg);
  transform: rotate(200deg);
  left: 80px;
}

.eye {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #232323;
  position: absolute;
  left: 50px;
  top: 25px;
  -webkit-animation: face 6s;
  animation: face 6s;
}

.eye-right {
  left: 90px;
}

.smile {
  width: 40px;
  height: 30px;
  border-bottom: 2px solid #232323;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 55px;
  -webkit-animation: face 6s;
  animation: face 6s;
}

.mouth {
  width: 20px;
  height: 13px;
  background-color: #232323;
  position: absolute;
  left: 10px;
  top: 30px;
  border-radius: 10% 10% 50% 50%;
  -webkit-animation: mouth 6s;
  animation: mouth 6s;
}

.stripe {
  width: 148px;
  height: 15px;
  background-color: #232323;
  border-radius: 40% 40% 10% 10%;
  position: absolute;
  top: 80px;
  left: 1px;
  opacity: .80;
}

.stripe-bottom {
  top: 120px;
  width: 145px;
  left: 3px;
  border-radius: 30% 30% 100% 100%;
}

.wings {
  height: 150px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  opacity: .70;
  position: absolute;
  top: 40px;
  left: -40px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  z-index: -1;
  -webkit-animation: fly 2s infinite;
  animation: fly 2s infinite;
}

.wings-right {
  left: 123px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-animation: fly-2 2s infinite;
  animation: fly-2 2s infinite;
}

.stinger {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #232323;
  position: absolute;
  top: 193px;
  z-index: -1;
  left: 55px;
}

.talk {
  position: absolute;
  left: 475px;
  top: 20px;
  -webkit-animation: speech 9s;
  animation: speech 9s;
}

.bubble {
  width: 200px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid white;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  position: absolute;
  top: 85px;
  left: -15px;
}

h2 {
  font-family: 'ABeeZee', sans-serif;
  font-color: #232323;
  position: absolute;
  top: 37px;
  left: 40px;
}

@-webkit-keyframes move {
  0% {
    top: 200%;
    left: -100%;
  }
  50% {
    -webkit-transform: rotate(0deg) rotateY(180deg);
  }
}
@-webkit-keyframes fly {
  50% {
    top: 0px;
    -webkit-transform: rotate(70deg);
  }
}
@-webkit-keyframes fly-2 {
  50% {
    top: 0px;
    -webkit-transform: rotate(-70deg);
  }
}
@-webkit-keyframes speech {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-webkit-keyframes face {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-webkit-keyframes mouth {
  0% {
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 100;
    height: 13px;
  }
}
@-webkit-keyframes trail {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: .30;
  }
}
@keyframes move {
  0% {
    top: 200%;
    left: -100%;
  }
  50% {
    transform: rotate(0deg) rotateY(180deg);
  }
}
@keyframes fly {
  50% {
    top: 0px;
    transform: rotate(70deg);
  }
}
@keyframes fly-2 {
  50% {
    top: 0px;
    transform: rotate(-70deg);
  }
}
@keyframes speech {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes face {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes mouth {
  0% {
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 100;
    height: 13px;
  }
}
@keyframes trail {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: .30;
  }
}
